<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row">
    <div class="row mb-2">
      <div class="col-md-5">
        <a href="/" id="btnRegresar" class="btn btn-sm btn-primary">Regresar</a>
        <a href="/" class="btn btn-sm btn-info text-light">Inicio</a>
      </div>
    </div>

    <div class="mx-auto">
      <form
        id="formNuevaReserva"
        method="POST"
        class="rounded border p-3"
        data-id="<%= id %>"
      >
        <h3 class="mb-3 text-center bg-primary text-light rounded p-2">
          Nueva Reserva
        </h3>
        <div class="row">
          <div class="col col-md-6 col-sm-12 mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              required="true"
              class="form-control"
              id="nombre"
              name="nombre"
            />
          </div>
          <div class="col col-md-6 col-sm-12 mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input
              type="text"
              required="true"
              class="form-control"
              id="apellido"
              name="apellido"
            />
          </div>
        </div>
        <div class="row">
          <!-- Fecha Ingreso -->
          <div class="col col-md-6 col-sm-12 mb-3">
            <label for="fecha_ingreso" class="form-label">Fecha de Solicitud </label>
            <input
              type="datetime-local"
              required="true"
              class="form-control"
              id="fecha_solicitud"
              name="fecha_solicitud"
            />
          </div>

          <!-- Fecha Salida -->
          <div class="col col-md-6 col-sm-12 mb-3">
            <label for="fecha_salida" class="form-label">Fecha Salida</label>
            <input
              type="datetime-local"
              required="true"
              class="form-control"
              id="fecha_salida"
              name="fecha_salida"
            />
          </div>
        </div>

        <div class="row">
          <!-- Nro Habitación -->
          <div class="col col-sm-12 col-md-6 mb-3">
            <label for="habitacion" class="form-label">Destino</label>
            <input
              type="text"
              required="true"
              class="form-control"
              id="destino"
              name="destino"
            />
          </div>

          <!-- Cantidad de húespedes -->
          <div class="col col-sm-12 col-md-6 mb-3">
            <label for="cantidad_personas" class="form-label"
              >Cant. Personas</label
            >
            <input
              type="number"
              required="true"
              class="form-control"
              id="cantidad_personas"
              name="cantidad_personas"
            />
          </div>
        </div>

        <div class="row">
          <!-- Telefono -->
          <div class="col col-sm-12 col-md-6 mb-3">
            <label for="telefono" class="form-label">DNI</label>
            <input
              type="text"
              required="true"
              class="form-control"
              id="dni"
              name="dni"
            />
          </div>
          <!-- Numero de asiento que le toca al pasajero -->
          <div class="col col-sm-12 col-md-6 mb-3">
            <label for="cantidad_personas" class="form-label"
              >Numero de asiento</label
            >
            <input
              type="number"
              required="true"
              class="form-control"
              id="nro_asiento"
              name="nro_asiento"
            />
          </div>
        </div>

          <!-- Email contacto -->
          <div class="col col-sm-12 col-md-6 mb-3">
            <label for="email" class="form-label">Email contacto:</label>
            <input
              type="email"
              required="true"
              class="form-control"
              id="email"
              name="email"
            />
          </div>
           <!-- Costo total del viaje -->
           <div class="col col-sm-12 col-md-6 mb-3">
            <label for="telefono" class="form-label">Costo</label>
            <input
              type="text"
              required="true"
              class="form-control"
              id="costo"
              name="costo"
            />
          </div>
        </div>

        <div class="row d-flex align-items-center justify-content-end">
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-2 mb-1">
            <button type="submit" class="w-100 btn btn-sm btn-primary">
              Guardar
            </button>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-2 mb-1">
            <a href="/reserva" class="w-100 btn btn-sm btn-secondary"
              >Cancelar</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/crear-reserva.js"></script>

<%- include('partials/footer') %>
